---
swagger: "2.0"
info:
  description: "This API, given a decimal formatted latitude and longitude (assumed\
    \ WGS84), |\nreturns the distance (in meters) to the nearest primary or secondary\
    \ road\n"
  version: "1.0.0"
  title: "Roadway Proximity API"
  contact:
    name: "Lisa Stillwell"
    email: "lisa@renci.org"
  license:
    name: "MIT"
    url: "http://opensource.org/licenses/MIT"
host: "bdt-proximity.renci.org:8080"
basePath: "/roadway_proximity_api/v1"
schemes:
- "https"
paths:
  /distance:
    get:
      summary: "retrieves distance"
      description: "By passing in the appropriate options, you can get the distance\
        \ to the closest roadway\n"
      operationId: "get_distance"
      produces:
      - "application/json"
      parameters:
      - name: "latitude"
        in: "query"
        description: "latitude of point from which to retrieve the closest distance\
          \ to a roadway (decimal format - WGS84 assumed)"
        required: true
        type: "number"
        format: "double"
      - name: "longitude"
        in: "query"
        description: "longitude of point from which to retrieve the closest distance\
          \ to a roadway (decimal format - WGS84 assumed)"
        required: true
        type: "number"
        format: "double"
      - name: "limit_distance"
        in: "query"
        description: "limit the search distance - provide number in meters"
        required: false
        type: "number"
        default: 500.0
        format: "double"
      responses:
        200:
          description: "search results matching criteria"
          schema:
            $ref: "#/definitions/RoadwayData"
        400:
          description: "bad input parameter"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
definitions:
  RoadwayData:
    type: "object"
    required:
    - "aadt"
    - "distance"
    - "latitude"
    - "longitude"
    - "roadtype"
    - "speed"
    - "through_lanes"
    properties:
      name:
        type: "string"
        example: "Route ID"
      roadtype:
        type: "string"
        example: "Rural Restricted Access"
      latitude:
        type: "number"
        format: "double"
        example: 37.2
      longitude:
        type: "number"
        format: "double"
        example: -79.334
      distance:
        type: "number"
        format: "double"
        example: 251.000765
      aadt:
        type: "number"
        format: "integer"
        example: 5060.0
      speed:
        type: "number"
        format: "integer"
        example: 55.0
      through_lanes:
        type: "number"
        format: "integer"
        example: 4.0
    example:
      through_lanes: 4.0
      distance: 251.000765
      latitude: 37.2
      name: "Route ID"
      roadtype: "Rural Restricted Access"
      aadt: 5060.0
      speed: 55.0
      longitude: -79.334
parameters:
  latitude:
    name: "latitude"
    in: "query"
    description: "latitude of point from which to retrieve the closest distance to\
      \ a roadway (decimal format - WGS84 assumed)"
    required: true
    type: "number"
    format: "double"
  longitude:
    name: "longitude"
    in: "query"
    description: "longitude of point from which to retrieve the closest distance to\
      \ a roadway (decimal format - WGS84 assumed)"
    required: true
    type: "number"
    format: "double"
  limit_distance:
    name: "limit_distance"
    in: "query"
    description: "limit the search distance - provide number in meters"
    required: false
    type: "number"
    default: 500.0
    format: "double"
